/* 관리자페이지 스타일 */
/* 초기화 */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, ol { list-style: none; }
a { text-decoration: none; color: #555; }

body {
    font-family: "Microsoft YaHei", Georgia, "Times New Roman", Times, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #222;    
    background: #fff url('../img/admin_bg_body.jpg') repeat-x;
    overflow-y: scroll;
}

#wrapper-admin {
    width: 100%;
    min-width: 980px;
    height: auto;            
}

#wrapper-admin .container {
    position: relative;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    width: 100%;
    height: 200px;            
}
header .logo {
    display: inline-block;
    margin-top: 120px;
}


#wrapper-admin > div > .container {
    background: url('../img/admin_bg_aside.jpg') repeat-y;
    border-left: 1px solid #c0c0c0;
}
#wrapper-admin > div aside {
    float: left;            
    width: 20%;
    height: 100%;            
}

#wrapper-admin > div aside > ul {
    width: 270px;
    height: 100%;
}
#wrapper-admin > div aside > ul > li {
    width: 100%;
    min-height: 65px;
}
#wrapper-admin > div aside > ul > li > a {
    display: block;
    width: 268px;
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #222;
    line-height: 65px;
    text-indent: 24px;
    border-top: 1px solid #c0c0c0;
}
#wrapper-admin > div aside > ul > li:last-child > a {border-bottom: 1px solid #c0c0c0;}
#wrapper-admin > div aside > ul > li > a:hover {
    color: #555;
}

#wrapper-admin > div aside .fa {
    text-indent: 0px;
    margin-right: 10px;
    font-size: 20px;
}

#wrapper-admin > div aside ol {
    display: none;
    background: #fff;
}
#wrapper-admin > div aside ol > li {
    width: 100%;
    height: 32px;
}
#wrapper-admin > div aside ol > li > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 32px;
    text-indent: 26px;
    color: #222;
}
#wrapper-admin > div aside ol > li > a:hover {
    color: #555;
}

#wrapper-admin > div section {
    float: right;
    width: 80%;
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

#wrapper-admin > div section > nav {
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#wrapper-admin > div section > nav > h3 {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 20px;
    font-weight: normal;
    color: #4a4a4a;
}
#wrapper-admin > div section > nav > p {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #5a5a5a;
}

#wrapper-admin > div section > div {
    margin-bottom: 26px;
    overflow: hidden;
}
#wrapper-admin > div section > div > div {            
    width: 49%;
    height: 100%;
    box-sizing: border-box;
}
#wrapper-admin > div section > div > div:nth-child(1) {float: left;}
#wrapper-admin > div section > div > div:nth-child(2) {float: right;}


#wrapper-admin > div section h4 {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #c0c0c0;
    font-size: 16px;            
    color: #4a4a4a;
    line-height: 80px;            
}
#wrapper-admin > div section h4 > i.fa {
    font-size: 26px;
    margin-right: 10px;
}
#wrapper-admin > div section article {
    width: 100%;
    min-height: 200px;
    overflow: hidden;
}

#wrapper-admin > div section article table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
#wrapper-admin > div section article table tr:first-child {
    background: #a8b2c5 !important;            
}
#wrapper-admin > div section article table tr:first-child > th {
    color: #fff;;
}
#wrapper-admin > div section article table tr:nth-child(2n+1) {
    background: #eceff5;
}


#wrapper-admin > div section article table tr > th {
    border-color: #959595;
    border-style: solid;
    border-width: 1px;            
    color: #484848;
    letter-spacing: 2px;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}
#wrapper-admin > div section article table tr > td {
    border: 1px solid #959595;
    padding: 6px 6px 6px 12px;
    color: #484848;
}

footer {            
    width: 100%;
    height: 60px;
    background: #484848;
}

footer p {
    float: left;
    margin-top: 20px;
    color: #efefef;
}

/* 영화관리 > 영화등록 */
.movie-register {
    font-size: 12px;
    font-family: "Microsoft YaHei", Georgia, "Times New Roman", Times, sans-serif;
    line-height: 1.5em;
    color: #484848;
}

.movie-register .field {
    margin: 20px 0;
}
.movie-register label {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    color: #484848;
    vertical-align: top;
}

.movie-register input {
    width: 300px;
    padding: 10px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #eaeaea;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}
.movie-register select {
    width: 300px;
    padding: 10px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #eaeaea;
    color: #333;
    box-sizing: border-box;
}

.movie-register textarea {
    padding: 5px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #eaeaea;
    color: #333;
    box-sizing: border-box;
    resize: none;            
}

.movie-register span {
    vertical-align: bottom;
    color: #bc2e13;
}

.movie-register .btnRegister {
    float: right;
    height: 26px;
    margin-right: 246px;
    padding: 0 15px;
    background-color: #a8b2c5;            
    border: 1px solid #959595;
    font-size: 12px;            
    color: #fff;            
    vertical-align: middle;
}
/* 티켓관리 > 티켓등록 */
.ticket-register {
    font-size: 12px;
    font-family: "Microsoft YaHei", Georgia, "Times New Roman", Times, sans-serif;
    line-height: 1.5em;
    color: #484848;
}

.ticket-register .field {
    margin: 20px 0;
}
.ticket-register label {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    color: #484848;
    vertical-align: top;
}

.ticket-register input {
    width: 150px;
    padding: 10px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #eaeaea;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}
.ticket-register select {
    width: 150px;
    padding: 10px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #eaeaea;
    color: #333;
    box-sizing: border-box;
}

.ticket-register textarea {
    padding: 5px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #eaeaea;
    color: #333;
    box-sizing: border-box;
    resize: none;            
}

.ticket-register span {
    vertical-align: bottom;
    color: #bc2e13;
}

.ticket-register .btnRegister {
    float: right;
    height: 26px;
    margin-right: 246px;
    padding: 0 15px;
    background-color: #a8b2c5;            
    border: 1px solid #959595;
    font-size: 12px;            
    color: #fff;            
    vertical-align: middle;
}